In [60]:
#随机创建一个人工数据集 
import os
os.makedirs(os.path.join('.','data1'),exist_ok=True)
data_file=os.path.join('.','data1','house_tiny.csv')
data_file
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,kk,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [61]:
import pandas as pd
data=pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0    kk  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [62]:
#data.isna().sum().idxmax()#求缺失值的个数中最大的一列的名称
#data.drop(data.isna().sum().idxmax(),axis=1)

In [38]:
inputs=data.iloc[:,0:2]
output=data.iloc[:,2]
print(inputs)

   NumRooms Alley
0       NaN  Pave
1       2.0    kk
2       4.0   NaN
3       NaN   NaN

In [63]:
#用均值填充空值
inputs=inputs.fillna(inputs.mean())
inputs
#因为Alley列不为数值型，所以不能用均值填充

   NumRooms  Alley_Pave  Alley_kk  Alley_nan
0       3.0           1         0          0
1       2.0           0         1          0
2       4.0           0         0          1
3       3.0           0         0          1

In [64]:
# get_dummies将alley自动转化为多列不同类别（dummy_na=True，按有几个不同列划分，否则空值不化为单独一列） 1表示有，0表示没有
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_kk  Alley_nan
0       3.0           1         0          0
1       2.0           0         1          0
2       4.0           0         0          1
3       3.0           0         0          1

In [65]:
import torch
x,y=torch.tensor(inputs.values),torch.tensor(output.values)
print(x,'\n',y)

tensor([[3., 1., 0., 0.],
        [2., 0., 1., 0.],
        [4., 0., 0., 1.],
        [3., 0., 0., 1.]], dtype=torch.float64)
 tensor([127500, 106000, 178100, 140000])